In [5]:
# Test and Train Data Splits

# importing pandas as pd
import pandas as pd
from sklearn.model_selection import train_test_split

%cd "C:\Users\jwill\Documents\Machine Learning\Data"

C:\Users\jwill\Documents\Machine Learning\Data

In [2]:
## Example 1
# https://data-flair.training/blogs/train-test-set-in-python-ml/

# load the data
data=pd.read_csv('forestfires.csv')
data.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [3]:
y=data.temp
x=data.drop('temp',axis=1)

In [7]:
#  split the data.
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

     X  Y month  day  FFMC    DMC     DC   ISI  RH  wind  rain    area
172  7  4   aug  sun  91.4  142.4  601.4  10.6  39   5.4   0.0    2.74
321  1  4   sep  thu  92.8  119.0  783.5   7.5  28   4.0   0.0    7.21
98   3  4   aug  sun  91.4  142.4  601.4  10.6  87   4.5   0.0    0.00
235  8  6   aug  sun  91.4  142.4  601.4  10.6  41   5.8   0.0  196.48
497  3  4   aug  tue  96.1  181.1  671.2  14.3  27   2.2   0.0   14.68

In [8]:
x_train.shape

(413, 12)

In [9]:
x_test.head()

     X  Y month  day  FFMC    DMC     DC   ISI   RH  wind  rain  area
47   6  6   jul  mon  94.2   62.3  442.9  11.0   36   3.1   0.0  0.00
489  4  4   aug  wed  95.1  141.3  605.8  17.7   58   1.3   0.0  0.00
289  7  4   jul  sat  91.6  104.2  474.9   9.0   30   1.8   0.0  0.00
319  5  4   sep  thu  92.8  119.0  783.5   7.5   28   6.3   0.0  4.41
379  4  5   jan  sun  18.7    1.1  171.4   0.0  100   0.9   0.0  0.00

In [19]:
## Example 2
# https://machinelearningmastery.com/train-test-split-for-evaluating-machine-learning-algorithms/

# split a dataset into train and test sets
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split

# create dataset
X, y = make_blobs(n_samples=1000)

# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(670, 2) (330, 2) (670,) (330,)

In [23]:
## Example 3
# https://machinelearningmastery.com/train-test-split-for-evaluating-machine-learning-algorithms/

#load libraries
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# download the dataset and summarizes its shape
# summarize the sonar dataset
from pandas import read_csv

# load dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/sonar.csv'
dataframe = read_csv(url, header=None)

# split into input and output elements
data = dataframe.values
X, y = data[:, :-1], data[:, -1]
print(X.shape, y.shape)

(208, 60) (208,)

In [21]:
# split the dataset 
# 67 percent to train the model and 33 percent to evaluate it

# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(139, 60) (69, 60) (139,) (69,)

In [24]:
# define and fit the model on the training dataset

# fit the model
model = RandomForestClassifier(random_state=1)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [28]:
# make predictions
yhat = model.predict(X_test)
# evaluate predictions
acc = accuracy_score(y_test, yhat)
print('Accuracy: %.3f' % acc)

Accuracy: 0.783

In [34]:
## Example 3A
# https://machinelearningmastery.com/train-test-split-for-evaluating-machine-learning-algorithms/

# train-test split evaluation random forest on the housing dataset
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [30]:
# load dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'
dataframe = read_csv(url, header=None)
data = dataframe.values

In [31]:
# split into inputs and outputs
X, y = data[:, :-1], data[:, -1]
print(X.shape, y.shape)

(506, 13) (506,)

In [32]:
# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(339, 13) (167, 13) (339,) (167,)

In [33]:
# fit the model
model = RandomForestRegressor(random_state=1)
model.fit(X_train, y_train)
# make predictions
yhat = model.predict(X_test)
# evaluate predictions
mae = mean_absolute_error(y_test, yhat)
print('MAE: %.3f' % mae)

MAE: 2.171